.App {
  text-align: center;
  width: 1000px;
  margin: 10px auto;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: white;
  padding: 10px 50px;
}

.main-section{
  display: flex;
}

